{{!-- EITHER KEEP THIS PAGE AND CUSTOMIZE --}}
{{!-- OR MAKE A htmlRoute TO REDIRECT ALL NON-SPECIFIED OTHER PAGE ROUTE URLS --}}

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
