{{!-- ==================================================== --}}
{{!-- BookReporter :: A research project note organizer and composer --}}
{{!-- MVC with MySQL, Node, Express, Handlebars and Sequelize. --}}
{{!-- ©2018 Nicholas Angelo Batten, Ryan Case, Melissa Derricott, Alex Silvester, Richard Trevillian --}}
{{!-- University of Richmond (Virginia) --}}
{{!-- Full Stack Developer Bootcamp (July 2018) --}}
{{!-- ==================================================== --}}
{{!-- signin.handlebars --}}
{{!-- htmlRoutes.js renders a Handlebars view for the user login page --}}
{{!-- ==================================================== --}}

<div class="container">
    <div class="row p-5">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to Appnamehere!</h1>
        </div>
    </div>
    <div class="row mx-auto my-auto">
        <div class="col-md-4 mx-auto my-auto p-5">
            <div>
                <h3 class="text-center p-3">
                    Sign In</h3>
                <form class="text-center p-3 border border-dark">
                    <img src="#" class="img-fluid" alt="placeholder">
                    <div class="form-group login p-3">
                        <input type="text" class="form-control" id="nameInput" placeholder="Your Name Here">
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg text-center" id="sign-in">
                </form>
            </div>
        </div>
    </div>
</div>