{{!-- ==================================================== --}}
{{!-- take.note :: A research project note organizer and composer --}}
{{!-- MVC with MySQL, Node, Express, Handlebars and Sequelize. --}}
{{!-- ©2018 Nicholas Angelo Batten, Ryan Case, Melissa Derricott, Alex Silvester, Richard Trevillian --}}
{{!-- University of Richmond (Virginia) --}}
{{!-- Full Stack Developer Bootcamp (July 2018) --}}
{{!-- ==================================================== --}}
{{!-- signin.handlebars --}}
{{!-- htmlRoutes.js renders a Handlebars view for the user login page --}}
{{!-- ==================================================== --}}



{{!-- START MODAL GROUP (Bootstrap ROW and COL) --}}
<div class="container">
  <div class="row">
  <div class="col-12">
     {{!-- START FLOATING DUCK SIGNIN BUTTON GROUP --}}
    {{!-- take.note FADE-IN TYPOGRAPHY --}}
    <img id="landingTitle" src="images/takeNoteText.svg" alt="take note">
    {{!-- SIGNIN BUTTON AND DUCK BUBBLE --}}
    <div id="duckFloat">
      <img id="duckPic" src="images/duck-blue.svg" alt="">
      <button type="button" class="btn btn-warning btn-sm" id="sign-in" data-toggle="modal" data-target="#exampleModal">
        get quackin!
      </button>
    </div>
    {{!-- END FLOATING DUCK SIGNIN BUTTON GROUP --}}
  </div>
</div>
<div class="row">
  <div class="col-lg-4">

   

    {{!-- START MODAL POPUP --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-box">

          {{!-- MODAL HEADER --}}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hi! Please enter your username:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          {{!-- MODAL BODY --}}
          <div class="modal-body">
            <form>
              <div class="col-12">
                <input type="text" class="form-control" id="userNameFirst" placeholder="username (no spaces)" value="" required>
              </div>
            </form>
          </div>

          {{!-- MODAL FOOTER --}}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="log-in" >Submit</button>
          </div>

        </div>
      </div>
    </div>
    {{!-- END MODAL POPUP --}}

  </div>
</div>
</div>
{{!-- END MODAL GROUP (Bootstrap ROW and COL) --}}


{{!-- ==================================================== --}}
{{!-- ==================================================== --}}


{{!-- START PROJECTS PAGE CONTENT (hide on Modal, show on signin)--}}
<div class="newProject">


  {{!-- START TOP BAR WITH LOGO AND NAV --}}
  <div id="topbar" class="container-fluid">
    <div id="topbar-content" class="container">

      {{!-- LOGO AND DUCK --}}
      <a href="/">
        <div id="logo-box">take.<span>note</span>
          <img id="duck-icon" src="images/duck-blue.svg" alt="">
        </div>
      </a>

      {{!-- SIGN OUT BUTTON --}}
      <div id="sign-out" class="nav-thing">sign out</div>

      {{!-- USERNAME GREETING --}}
      <a href="/">
        <div class="nav-thing hello">Hi <span id="username"></span>!</div>
      </a>

    </div>
  </div>
  {{!-- END TOP BAR WITH LOGO AND NAV --}}


  {{!-- ==================================================== --}}

  {{!-- START PROJECTS PAGE CONTENTS --}}
  <div class="container">

    <div class="row">
      <div class="col-12">

        {{!-- START CREATE NEW PROJECT HEADLINE --}}
        <div class="row">
          <div id="project-info" class="col-12">
            <p><strong>create a new project:</strong></p>
          </div>
        </div>
        {{!-- END CREATE NEW PROJECT HEADLINE --}}

        {{!-- START CREATE NEW PROJECT INPUT --}}
        <div id="new-project-input" class="input-group mb-2">
          <div id="createNewProject" class="input-group-prepend">
            <button id="createNewProjectButton" class="add-project-button btn btn-outline-secondary btn-sm" type="submit">
              <i class="fas fa-book"></i>
            </button>
          </div>
          <input id="projectName" type="text" class="add-project-name form-control form-control-sm" placeholder="enter a name for your new Project and click the book icon">
        </div>
        {{!-- END CREATE NEW PROJECT INPUT --}}



        <div class="myProjects">

          {{!-- MY PROJECTS HEADLINE --}}
          <div class="row">
            <div id="project-list" class="col-12">
              <p><strong>my projects:</strong></p>
            </div>
          </div>

          {{!-- MY PROJECTS LIST AREA --}}
          <div class="projects input-group mb-2"></div>

        </div>



        {{!-- END PROJECTS PAGE CONTENTS ROW + COL --}}
      </div>
    </div>

    {{!-- END PROJECTS PAGE CONTENTS --}}
  </div>

  {{!-- END PROJECTS PAGE CONTENT (hide on Modal, show on signin)--}}
</div>


{{!-- ==================================================== --}}
{{!-- ==================================================== --}}


{{!--
<script src="js/signIn.js" type="text/javascript"></script> --}}