.list-group-item {
  line-height: 2.5;
}

body {
  background-color: aliceblue;
}

/* PRE-EXISTING STYLES ABOVE (remove/change/keep/whatevs) */
/* =================== */
/* NEW STYLES BELOW */

.topicbox {
  background-color: #eee;
}

.rescont {
  font-size: .8rem;
  line-height: 1.1rem;
}


/* OOOOOOO WORDPROCESSOR STYLES START 00000000*/

.ql-toolbar {
  background-color: azure;
  /* visibility: hidden; */
  text-align: center;
}

#resourceBlock {
  background: linear-gradient(white, #0000ff1a);
  box-shadow: 0px 0px 40px lightsteelblue;
}

.page-header {
  text-align: center;
  height: 11em;
}

#editor {
  background-color: ghostwhite;
  overflow: scroll;
  /* height: 49em; */
  height: 80vh;
  box-shadow: 0px 0px 40px lightsteelblue;
}

#viewNotes {
  border-radius: 54%;
  height: 4em;
}

#viewNotes:hover {
  cursor: pointer;
}

#resources {
  text-align: center;
}

#logo {
  height: 26em;
  position: fixed;
  bottom: 59%;
  left: 12%;
}

/* OOOOOOO WORDPROCESSOR STYLES END 00000000*/


/* NEW STYLES ABOVE */
/* =================== */
/* MEDIA QUERIES BELOW */

/* MEDIA QUERIES FOR BREAKPOINTS BELOW */
/* =================================== */

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  body {
    background-color: #fff;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  body {
    background-color: aliceblue;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: aliceblue;
  }
}

/* MEDIA QUERIES FOR BREAKPOINTS ABOVE */
/* =================================== */