/* ====================================================
take.note :: A research project note organizer and composer
MVC with MySQL, Node, Express, Handlebars and Sequelize.
©2018 Nicholas Angelo Batten, Ryan Case, Melissa Derricott, Alex Silvester, Richard Trevillian
University of Richmond (Virginia)
Full Stack Developer Bootcamp (July 2018)
====================================================
styles.js
DOM event handlers for wordprocessor.handlebars page view
these functions to be incorporated into workspace.js
==================================================== */


.list-group-item {
  line-height: 2.5;
}

body {
  background-color: rgb(215, 227, 237);
}

/* PRE-EXISTING STYLES ABOVE */
/* =================== */
/* HEADER BAR STYLES BELOW */

#topbar {
  position: fixed;
  z-index: 3;
  height: 50px;
  background-color: rgb(33, 71, 104);
}

#topbar-content {
  height: 100%;
  /* background-color: rgb(65, 98, 126); */
}

#logo-box {
  float: left;
  height: 100%;
  color: rgb(215, 227, 237);
  font-weight: 100;
  line-height: 3rem;
  font-size: 1.8rem;
  letter-spacing: .1rem;
}

#logo-box span {
  height: 100%;
  /* color: rgb(165, 185, 203); */
  font-weight: 700;
  letter-spacing: .05rem;
}

#duck-icon {
  position: relative;
  float: left;
  top: 14px;
  height: 23px;
  margin-right: 12px;
  margin-left: 2px;
  /* background-color: rgb(196, 109, 132); */
  /* border-radius: 30px; */
  /* padding: 5px; */
}

.nav-thing {
  float: right;
  margin-left: 10px;
  height: 100%;
  color: rgb(215, 227, 237);
  font-weight: 100;
  line-height: 3rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

.nav-thing a {
  /* color: rgb(215, 227, 237); */
  text-decoration: none;
}

/* unvisited link */
.nav-thing a:link {
  color: rgb(215, 227, 237);
}

/* visited link */
.nav-thing a:visited {
  color: rgb(215, 227, 237);
}

/* mouse over link */
.nav-thing a:hover {
  color: rgb(215, 227, 237);
}

/* selected link */
.nav-thing a:active {
  color: rgb(215, 227, 237);
}

#signin-link {
  text-decoration: none;
}


/* HEADER BAR STYLES ABOVE */
/* =================== */
/* LIST STYLES BELOW */

#project-info p {
  font-size: 1.1rem;
  line-height: .8rem;
  margin-top: 70px;
}

#project-info p strong {
  color: maroon;
}

/* =================== */

#project-list p {
  font-size: 1.1rem;
  line-height: .8rem;
  margin-top: 20px;
}

#project-list p strong {
  color: maroon;
}

/* =================== */

/* =================== */
/* on signin.handlebars */
/* =================== */

.add-project-button {
  color: rgb(33, 71, 104);
  background-color: rgb(255, 255, 255);
}

.add-project-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 71, 104);
}

.add-project-name {
  border: .5px solid rgb(170, 170, 170);
}

/* =================== */

.delete-project {
  color: rgb(196, 109, 132);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(33, 71, 104);

}

.delete-project:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(203, 141, 157);
}

.goto-project {
  width: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 71, 104);
  border: 1px solid rgb(33, 71, 104);
}

.goto-project:hover {
  color: rgb(33, 71, 104);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(33, 71, 104);
}

.pname {
  border: .5px solid rgb(33, 71, 104);
}

.project-edit-group {
  box-shadow: 3px 3px 8px rgb(205, 211, 216);
}

/* =================== */
/* on workspace.handlebars */
/* =================== */

.topicbox {
  background-color: rgb(215, 227, 237);
  border: none;
  padding: 15px 0px 0px 0px;
}

.topicbox:hover {
  background-color: rgb(215, 227, 237);
  border: none;
}

.rescont {
  font-size: .8rem;
  line-height: 1.1rem;
  box-shadow: 3px 3px 8px rgb(205, 211, 216);

}

/* =================== */

#add-topic-button {
  color: rgb(33, 71, 104);
  background-color: rgb(255, 255, 255);
}

#add-topic-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 71, 104);
}

#open-all-topics {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 71, 104);
}

#open-all-topics:hover {
  color: rgb(33, 71, 104);
  background-color: rgb(255, 255, 255);
}

#new-topic-open-resources {
  box-shadow: 3px 3px 8px rgb(205, 211, 216);
}

#add-topic-name {
  border: .5px solid rgb(170, 170, 170);
}

/* =================== */

.delete-topic {
  color: rgb(203, 141, 157);
  background-color: rgb(255, 255, 255);
}

.delete-topic:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(203, 141, 157);
}

.toggle-topic-resources {
  color: rgb(255, 255, 255);
  background-color: rgb(196, 109, 132);
}

.toggle-topic-resources:hover {
  color: rgb(196, 109, 132);
  background-color: rgb(255, 255, 255);
}

.tname {
  border: .5px solid rgb(196, 109, 132);
}

.topic-edit-group {
  box-shadow: 3px 3px 8px rgb(205, 211, 216);
}

/* =================== */

.add-resource {
  color: rgb(253, 253, 253);
  background-color: rgb(123, 176, 220);
  border: .5px solid rgb(170, 170, 170);
}

.add-resource-input {
  /* border: .5px solid rgb(170, 170, 170); */
  background-color: rgb(215, 227, 237);
}

.add-resource-group {
  box-shadow: 3px 3px 8px rgb(205, 211, 216);
}

/* =================== */

.delete-resource {
  color: rgb(123, 176, 220);
  background-color: rgb(255, 255, 255);
  border: .5px solid rgb(123, 176, 220);
}

.delete-resource:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(123, 176, 220);
  border: .5px solid rgb(123, 176, 220);
}

.toggle-resource {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 131, 172);
  border: .5px solid rgb(123, 176, 220);
}

.toggle-resource:hover {
  color: rgb(81, 131, 172);
  background-color: rgb(255, 255, 255);
  border: .5px solid rgb(123, 176, 220);
}

.rname {
  border: .5px solid rgb(123, 176, 220);
}

.resource-edit-group {
  box-shadow: 3px 3px 8px rgb(205, 211, 216);
}

/* =================== */

/* LIST STYLES ABOVE */
/* =================== */

/* OOOOOOO WORDPROCESSOR STYLES START 00000000*/


.ql-toolbar {
  background-color: rgb(183, 201, 216);
  box-shadow: 3px 3px 18px rgb(205, 211, 216);
}

.ql-picker-label {
  font-size: .6rem;
}

#editor {
  background-color: rgb(254, 254, 254);
  overflow: scroll;
  height: 80vh;
  box-shadow: 3px 3px 18px rgb(205, 211, 216);
}

/* OOOOOOO WORDPROCESSOR STYLES END 00000000*/

/* =================== */

/* OOOOOOO SIGN IN STYLES START 00000000*/
#duckFloat {
  position: absolute;
  left: 117%;
  bottom: -500%;
  width: 200px;
  height: 200px;
  border: none;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(33, 71, 104);
  animation-name: clickHere;
  animation-duration: 2.8s;
}

@keyframes clickHere {
  0% {
    bottom: 100%;
  }

  100% {
    bottom: -500%;
  }
}

#sign-in {
  bottom: -2em;
  position: relative;
  color: rgb(33, 71, 104);
  background-color: rgb(215, 227, 237);
  border: none;
}

#duckPic {
  height: 106px;
  position: relative;
  top: 20%;
}

#landingTitle {
  left: 105%;
  position: relative;
  top: 650%;
  animation: fadeInFromNone 2.8s ease-in;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;

  }
}

/* OOOOOOO SIGN IN STYLES END 00000000*/

/* NEW STYLES ABOVE */
/* =================== */
/* MEDIA QUERIES BELOW */

/* MEDIA QUERIES FOR BREAKPOINTS BELOW */
/* =================================== */

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  body {
    /* background-color: #fff; */
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  body {
    /* background-color: aliceblue; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    /* background-color: #fff; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    /* background-color: aliceblue; */
  }
}

/* MEDIA QUERIES FOR BREAKPOINTS ABOVE */
/* =================================== */